@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Share style */
*{
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 30px;
}
:root{
  --primary-color:#FF42A5;
  --secondary-color:#3C354F;
  --second-button:#4EC5F7;
  --white-color:#fff;
  --heading-color: #0B0223;
  --text-color: #534C64;


}
.gradient{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.right-align{
  text-align: right;
}
.left-align{
  text-align: left;
}
/* Header section style */
.header-section{
  background: var(--white-color);
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
padding: 30px 0px;
}

.header-wrapper,
.website-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website-logo h1{
font-size: 45px;
font-weight: 700;
padding-left: 15px;

}
.website-logo h1 span{
  color:var(--primary-color) ;

}
.nav-menu li {
  display: inline-block;
  list-style: none;
  padding: 13px 15px;
}
.nav-menu li a, .header-icon{
  color: var(--secondary-color);
font-size: 18px;
font-weight: 500;
text-decoration: none;
}

.header-icon{
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 17px 25px;
/* display: flex;
align-items: center; */
}
.header-icon a{
  padding: 7px;
}
.header-icon .fa-youtube, .fa-tiktok{
  font-size: 21px;
}
.header-icon .fa-youtube{
  color: red;

}

/* Banner-section style */
.banner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.banner-section{
  background: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20px;
 
}
.banner-image img{
  width: 80%;
  float: right;
}

.banner-content h2{
  color: var(--heading-color);
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.banner-content h1{
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
}
.banner-link a{
  display: block;
  color: var(--text-color);
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
text-decoration: none;
padding-top: 10px;
}
.banner-link{
  margin-top: 3px;
  margin-bottom: 40px;
}
.banner-link i{
  color: var(--primary-color);
}
.btn-primary{
padding: 15px 30px;
border-radius: 48px;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
border: none;
background: var(--primary-color);
color: var(--white-color);
}
.banner-button .diff{
  background: #4EC5F7;
  color: var(--white-color);
  margin-left: 10px;
}
/* about section style */
.about-section{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  padding: 90px 0px;

}
.about-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.about-image img{
  width: 580px;
}
.about-content{
  text-align: right;
}
.about-content h1{
font-size: 48px;
font-weight: 700;
}
.about-content p{
  color: var(--text-color);
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding: 24px 0px;
}
.about-content h2 span{
  color: var(--text-color);
  display: block;
font-size: 24px;
font-weight: 500;
}
.about-content h2{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-top: 24px;
}
/* Fonny Video section style */
.funny-video-section{
  padding: 100px 0;
}
.section-title-des{
  text-align: center;
  margin-bottom: 30px;
}
.section-title{
  color:var(--heading-color);
font-size: 48px;
font-weight: 700;
padding-bottom: 4px;
}
.section-description{
  color: var(--secondary-color);
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

/* Funny section style */

.video-wrapper{
  display: grid;
grid-template-columns: repeat(4,1fr);
  column-gap: 24px;

  
}


.image-container {
  position: relative;
  display: inline-block;
 
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  border-radius: 22px;
}

.overlay i {
  color: white;
  font-size: 50px;
  opacity: 0;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.imag-container img{
  width: 100%;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 22px;
  margin: 3px;
}
.image-container:hover img {
  border: 3px solid var(--primary-color);
  border-radius: 25px;
  z-index: 5;
}

.image-container:hover::before {
  opacity: 1;
}

.image-container:hover .overlay i {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid transparent;
  border-radius: 25px;
}

.single-video p{
  color: var(--text-color);
font-size: 18px;
font-weight: 500;
line-height: 26px; /* 150% */
}

.feature-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 70px;
}

.feature-image-f{
  margin-left: 94px;
}

.feature-image-l img{
  position: relative;
 margin-top: -277px;


}

.feature-section {
  margin-bottom: 100px;
}
.feature-image-1 img{
  margin-right: 142px;
  width: 508px;
}

.feature-image-2 img{
  position: relative;
  margin-top: -202px;
  float: right;
  width: 35%;
}

.feature-section {
  margin-bottom: 100px;
}
.Careers-section{
  background:var(--primary-color);
  /* padding: 50px 0; */
}


/* Careers section style */

.careers-wrapper,
.careers-contant-wrappper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: ;
}
.careers-image img{
  max-width: 600px;
}

.careers-contant h1{
  color:var(--white-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.careers-contant p{
  color: var(--white-color);
font-size: 18px;
font-weight: 400;
line-height: 25px; /* 166.667% */
}







/* Responsive Design */

@media screen and (max-width:576px) {
    .header-wrapper,
    .about-wrapper,
    .feature-wrapper{
flex-direction: column;
row-gap: 20px;
}
.header-section{
    background: none;
    box-shadow: none;
    padding: 30px 50px;

}
.nav-menu li {
    display:block;
    text-align: center;
    margin-top: 10px;

  }
  .banner-wrapper{
    flex-direction: column-reverse;
    column-gap: 0;
    row-gap: 70px;
  }
  .banner-section{
    background-position:center bottom ;
    background-size: 450px 420px;
    padding-bottom: 40px;
   
  }
  .banner-image img{
    width: 100%;
    
  }
  .about-content{
    text-align: center;
  }
  .about-image img{
    width: 100%;
  }
  .about-section{
    padding: 40px 0px;
  }
  .video-wrapper{
    display: grid;
  grid-template-columns:1fr;
    row-gap: 30px;
  
    
  }
  .image-container img{
    max-width: 115%;
  }

  .funny-video-section {
    padding: 60px 0;
}
.feature-image-f img{
width: 100%;
}
.feature-image-l img{
width: 40%;
}
.feature-image-f{
  margin-left: 60px;
}
.feature-image-l img{
  position: relative;
 margin-top: -120px;
}
.right-align{
  text-align: center;
}
.feature-content h2{
  padding-top: 20px;
}
.feature-content p{
  padding: 16px;
}
.funny-video-section {
  padding: 70px 0;
}

}







/* Responsive style for tab */

@media screen and (min-width:576px) and (max-width:768px) {
  .header-section{
    background: none;
    box-shadow: none;
    padding: 30px 15px;
}
.header-wrapper,
.about-wrapper,
.feature-wrapper{
  flex-direction: column;
  row-gap: 20px;
  }
.nav-menu li {
  display: inline-block;
  list-style: none;
  padding: 13px 15px;
}
  .nav-menu li {
    padding: 10px 10px;

  }
  .banner-wrapper{
    flex-direction: column-reverse;
    column-gap: 0;
    row-gap: 70px;
  }
  .banner-section{
    background-position:center bottom ;
    background-size: 700px 430px;
   
  }
  .banner-image img,
  .about-image img{
    width: 100%;
    
  }
  .about-content{
    text-align: center;
  }
  .about-image img{
    width: 100%;
  }
  .about-section{
    padding: 40px 0px;
  }
  .video-wrapper{
    display: grid;
  grid-template-columns:repeat(2,1fr);
    row-gap: 30px;
  
  }
  .funny-video-section {
    padding: 70px 0;
}

.feature-section{
  margin: 30px 0;
}

  .feature-image-f img{
    width: 100%;
    }
    .feature-image-l img{
    width: 40%;
    }
    .feature-image-f{
      margin-left: 60px;
    }
    .feature-image-l img{
      position: relative;
     margin-top: -238px;
    }

    .right-align{
      text-align: center;
    }
    .feature-content h2{
      padding-top: 20px;
    }
    .feature-content p{
      padding: 16px;
    }


}